<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/css/styles.css">
  <body>
    {{>header}}
    <p>This site was created by Edir Moreira. It uses data from mapbox.com and darksky.net! Udemy course</p>
    <img src="/img/me.jpg"/>
    <p>{{name}}</p>
  </body>
  {{>footer}}
</html>